<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
</head>
<body>
	<h1>Welcome to the Service Teleco Application</h1>

	<form action="LoginServlet" method="POST">
		Username: <input type="text" name="username" required> <br>
		Password: <input type="password" name="pwd" required><br>
		<input type="submit" value="login">
		<p th:text=" ${errorMsg}"></p><br>
	</form>
	<form action="RegistrationServlet" method="POST">
		Email: <input type="email" name = "email" required>
		Username: <input type="text" name="username" required> <br>
		Password: <input type="password" name="password" required><br>
		Are you an Employee: <input type="checkbox", name="isEmployee">
		<input type="submit" >
		<p th:text=" ${errorMsg}"></p><br>
	</form>
</body>
</html>